---
toc:
  - section: introduction
    nav: true
    pages:
      - {file: index, name: 'Home'}
      - {file: introduction, name: 'Introduction'}
  - section: model
    nav: true
    name: 'Model'
    pages:
      - {file: exploration, name: 'Model Exploration'}
      - {file: fitting, name: 'Model Fitting'}
      - {file: prediction, name: 'Model Predictions'}
  - section: resources
    name: 'Resources'
    pages:
      - {file: references, name: 'References'}
      - {file: about, name: 'About'}
---
<!doctype html>
<html class="pro-html" lang="en">
  <head>
    <%
      let activeSection;
      let activePage;
      let windowTitle;
      for (const [sectionIndex, section] of toc.entries()) {
        for (const [pageIndex, page] of section.pages.entries()) {
          if (page.file === file) {
            activeSection = sectionIndex;
            activePage = pageIndex;
            windowTitle = page.name.replace(/<[^>]+>/g, '');
          }
        }
      }
    %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="prospectable: <%= title.replace(/<[^>]+>/g, '') %>">
    <meta name="author" content="Dr. Adam Krawitz">

    <title>prospectable<%- (file !== 'index') ? `: ${windowTitle}` : '' %></title>

    <link href="page.css" rel="stylesheet">
  </head>
  <body class="pro-body">
    <div class="pro-page">
      <div class="pro-layout">

        <div class="pro-sidebar">
          <div class="pro-nav-group">
            <div class="pro-nav-top">
              <button class="pro-nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pro-nav" aria-controls="pro-nav" aria-expanded="false" aria-label="Toggle table of contents">
                <%- include(resolvePkg('bootstrap-icons/icons/list.svg')) %>
              </button>
              <a class="pro-nav-brand" href="index.html"><span class="prospectable">prospect<span class="math-var">α</span>b<span class="math-var">λ</span>e</span></a>
           </div>
            <nav class="pro-nav-collapse collapse" id="pro-nav">
              <ol class="pro-toc">
                <% for (const [sectionIndex, section] of toc.entries()){ %>
                  <li class="pro-toc-list">
                    <% if (section.name) { %>
                    <span class="pro-toc-section-name"><%- section.name %></span>
                    <% } %>
                    <ol class="pro-toc-section pro-toc-section-<%- section.section %>">
                      <% for (const [pageIndex, page] of section.pages.entries()) { %>
                        <% if ((activeSection === sectionIndex) && (activePage === pageIndex)) { %>
                          <li class="pro-toc-item pro-toc-item-active">
                        <% } else { %>
                          <li class="pro-toc-item">
                        <% } %>
                            <a class="pro-toc-link" href="<%= page.file %>.html">
                              <%- page.name %>
                            </a>
                          </li>
                      <% } %>
                    </ol>
                  </li>
                <% } %>
                <li class="pro-toc-list">
                  <span class="pro-toc-section-name"></span>
                  <ol class="pro-toc-section pro-toc-section-external">
                    <li class="pro-toc-item">
                      <span class="pro-toc-text">v<%- utilities.getPackageVersion() %></span>
                    </li>
                    <li class="pro-toc-item">
                      <a class="pro-toc-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC-BY-SA-4.0</a>
                    </li>
                    <li class="pro-toc-item">
                      <a class="pro-toc-link" href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener">GPL-3.0-or-later</a>
                    </li>
                    <li class="pro-toc-item">
                      <a class="pro-toc-link" href="https://github.com/decidables/decidables/tree/main/sites/prospectable" target="_blank" rel="noopener">
                        <%- include(resolvePkg('bootstrap-icons/icons/github.svg')) %>
                      </a>
                    </li>
                  </ol>
                </li>
              </ol>
            </nav>
          </div>
          <div class="pro-nav-bottom">
            <a class="pro-nav-decidables" href="../"><span class="decidables">decidables</span></a>
          </div>
        </div>

        <main class="pro-main">
          <% if (file !== 'index') { %>
            <header>
              <h1><%- title %></h1>
            </header>
          <% } %>
          <section class="pro-content">
            <%- contents %>
          </section>

          <footer class="pro-footer">
            <div class="pro-footer-item pro-footer-item-left">
              <% if (toc[activeSection].nav && ((activePage > 0) || (activeSection > 0))) { %>
                <% const previousPage = (activePage > 0)
                    ? toc[activeSection].pages[activePage - 1]
                    : toc[activeSection - 1].pages[toc[activeSection - 1].pages.length - 1]; %>
                <a class="pro-toc-link" href="<%= previousPage.file %>.html">
                  <%- include(resolvePkg('bootstrap-icons/icons/arrow-left-short.svg')) %>
                  <%- previousPage.name %>
                </a>
              <% } %>
            </div>
            <div class="pro-footer-item pro-footer-item-right">
              <% if (toc[activeSection].nav && ((activePage < (toc[activeSection].pages.length - 1)) || ((activeSection < (toc.length - 1)) && toc[activeSection + 1].nav))) { %>
                <% const nextPage = (activePage < (toc[activeSection].pages.length - 1))
                    ? toc[activeSection].pages[activePage + 1]
                    : toc[activeSection + 1].pages[0]; %>
                <a class="pro-toc-link" href="<%= nextPage.file %>.html">
                  <%- nextPage.name %>
                  <%- include(resolvePkg('bootstrap-icons/icons/arrow-right-short.svg')) %>
                </a>
              <% } %>
            </div>
          </footer>
        </main>

      </div>
    </div>
    <script type="module" src="<%= script %>.js"></script>
  </body>
</html>
