---
toc:
  main:
    - {file: index, name: 'Introduction'}
    - {file: exploration, name: 'Model Exploration'}
    - {file: fitting, name: 'Model Fitting'}
    - {file: prediction, name: 'Model Predictions'}
  extra:
    - {file: references, name: 'References'}
    - {file: about, name: 'About'}
---
<!doctype html>
<html lang="en">
  <head>
    <% for (var i=0; i < toc.main.length; i++) {
        if (toc.main[i].file == file) {
          var source = 'main';
          var index = i;
        }
      }
      for (var i=0; i < toc.extra.length; i++) {
        if (toc.extra[i].file == file) {
          var source = 'extra';
          var index = i;
        }
      }
      var windowTitle = toc[source][index].name.replace(/<[^>]+>/g, ''); %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="prospectable: <%= title %>">
    <meta name="author" content="Dr. Adam Krawitz">

    <title>prospectable: <%- windowTitle %></title>

    <link href="index.css" rel="stylesheet">
  </head>
  <body>
    <div class="decidables-page">
      <div class="decidables-layout">

        <div class="decidables-sidebar">
          <div class="decidables-brandnav">
            <button class="decidables-tocnav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#decidables-tocnav" aria-controls="decidables-tocnav" aria-expanded="false" aria-label="Toggle table of contents"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M2 7h26M2 15h26M2 23h26"></path></svg>
            </button>
            <a class="decidables-brand-link" href="index.html"><span class="decidables-brand">prospect<span class="math-var">α</span>b<span class="math-var">λ</span>e</span></a>
          </div>
          <nav class="decidables-tocnav collapse" id="decidables-tocnav">
            <ul class="decidables-toc">
              <% for (var i=0; i < toc.main.length; i++) { %>
                <% if ((source == 'main') && (index == i)) { %>
                  <li class="decidables-tocitem decidables-tocitem-main decidables-tocitem-<%= i + 1 %> decidables-tocitem-active">
                <% } else { %>
                  <li class="decidables-tocitem decidables-tocitem-main decidables-tocitem-<%= i + 1 %>">
                <% } %>
                    <a class="decidables-toclink" href="<%= toc.main[i].file %>.html">
                      <%- toc.main[i].name %>
                    </a>
                  </li>
              <% } %>
              <% for (var i=0; i < toc.extra.length; i++) { %>
                <% if ((source == 'extra') && (index == i)) { %>
                  <li class="decidables-tocitem decidables-tocitem-extra decidables-tocitem-<%= i + 1 %> decidables-tocitem-active">
                <% } else { %>
                  <li class="decidables-tocitem decidables-tocitem-extra decidables-tocitem-<%= i + 1 %>">
                <% } %>
                    <a class="decidables-toclink" href="<%= toc.extra[i].file %>.html">
                      <%- toc.extra[i].name %>
                    </a>
                  </li>
              <% } %>
            </ul>
          </nav>
        </div>

        <main class="decidables-main">
          <header>
            <h1><%- title %></h1>
          </header>
          <section class="decidables-content">
            <%- contents %>
          </section>

          <footer class="decidables-footer">
            <div class="decidables-footer-item decidables-footer-item-left">
              <% if ((source == 'main') && (index > 0)) { %>
                <a class="decidables-toclink" href="<%= toc.main[index - 1].file %>.html">&lt; <%- toc.main[index - 1].name %></a>
              <% } %>
            </div>
            <div class="decidables-footer-item decidables-footer-item-right">
              <% if ((source == 'main') && (index < (toc.main.length - 1))) { %>
                <a class="decidables-toclink" href="<%= toc.main[index + 1].file %>.html"><%- toc.main[index + 1].name %> &gt;</a>
              <% } %>
            </div>
          </footer>
        </main>

      </div>
    </div>
    <!-- Can't be a module for IE11 to work -->
    <!-- <script type="module" src="<%= script %>.js"></script> -->
    <script src="<%= script %>.js"></script>
  </body>
</html>
