---
toc:
  main:
    - {file: index, name: 'Introduction'}
    - {file: signal, name: 'Signal &amp; Noise'}
    - {file: task, name: 'Task'}
    - {file: outcomes, name: 'Outcomes'}
    - {file: rates, name: 'Tables &amp; Rates'}
    - {file: roc, name: 'ROC Space'}
    - {file: measurement, name: 'Measurement &amp; Sensitivity'}
    - {file: threshold, name: 'Threshold &amp; Bias'}
    - {file: sdt, name: 'SDT'}
    - {file: sensitivity, name: 'Iso-Sensitivity Curves'}
    - {file: bias, name: 'Iso-Bias Curves'}
    - {file: exploration, name: 'Model Exploration'}
    - {file: fitting, name: 'Model Fitting'}
    - {file: prediction, name: 'Model Predictions'}
    - {file: difficulty, name: 'Sensitivity &amp; Difficulty'}
    - {file: incentive, name: 'Bias &amp; Incentive'}
    - {file: zroc, name: '<span class="math-var">z</span>ROC Space'}
    - {file: unequal, name: 'Unequal Variance'}
    - {file: conclusion, name: 'Conclusions'}
  extra:
    - {file: legend, name: 'Legend'}
    - {file: glossary, name: 'Glossary'}
    - {file: equations, name: 'Equations'}
    - {file: references, name: 'References'}
    - {file: about, name: 'About'}
---
<!doctype html>
<html lang="en">
  <head>
    <% for (var i=0; i < toc.main.length; i++) {
        if (toc.main[i].file == file) {
          var source = 'main';
          var index = i;
        }
      }
      for (var i=0; i < toc.extra.length; i++) {
        if (toc.extra[i].file == file) {
          var source = 'extra';
          var index = i;
        }
      }
      var windowTitle = toc[source][index].name.replace(/<[^>]+>/g, ''); %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="detectable: <%= title %>">
    <meta name="author" content="Dr. Adam Krawitz">

    <title>d′etectable: <%- windowTitle %></title>

    <link href="page.css" rel="stylesheet">
  </head>
  <body>
    <div class="sdt-page">
      <div class="sdt-layout">

        <div class="sdt-sidebar">
          <div class="sdt-brandnav">
            <button class="sdt-tocnav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#sdt-tocnav" aria-controls="sdt-tocnav" aria-expanded="false" aria-label="Toggle table of contents"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M2 7h26M2 15h26M2 23h26"></path></svg>
            </button>
            <a class="sdt-brand-link" href="index.html"><span class="sdt-detectable"><span class="math-var d">d′</span>ete<span class="math-var c">c</span>table</span></a>
          </div>
          <nav class="sdt-tocnav collapse" id="sdt-tocnav">
            <ul class="sdt-toc">
              <% for (var i=0; i < toc.main.length; i++) { %>
                <% if ((source == 'main') && (index == i)) { %>
                  <li class="sdt-tocitem sdt-tocitem-main sdt-tocitem-<%= i + 1 %> sdt-tocitem-active">
                <% } else { %>
                  <li class="sdt-tocitem sdt-tocitem-main sdt-tocitem-<%= i + 1 %>">
                <% } %>
                    <a class="sdt-toclink" href="<%= toc.main[i].file %>.html">
                      <%- toc.main[i].name %>
                    </a>
                  </li>
              <% } %>
              <% for (var i=0; i < toc.extra.length; i++) { %>
                <% if ((source == 'extra') && (index == i)) { %>
                  <li class="sdt-tocitem sdt-tocitem-extra sdt-tocitem-<%= i + 1 %> sdt-tocitem-active">
                <% } else { %>
                  <li class="sdt-tocitem sdt-tocitem-extra sdt-tocitem-<%= i + 1 %>">
                <% } %>
                    <a class="sdt-toclink" href="<%= toc.extra[i].file %>.html">
                      <%- toc.extra[i].name %>
                    </a>
                  </li>
              <% } %>
            </ul>
          </nav>
        </div>

        <main class="sdt-main">
          <header>
            <h1><%- title %></h1>
          </header>
          <section class="sdt-content">
            <%- contents %>
          </section>

          <footer class="sdt-footer">
            <div class="sdt-footer-item sdt-footer-item-left">
              <% if ((source == 'main') && (index > 0)) { %>
                <a class="sdt-toclink" href="<%= toc.main[index - 1].file %>.html">&lt; <%- toc.main[index - 1].name %></a>
              <% } %>
            </div>
            <div class="sdt-footer-item sdt-footer-item-right">
              <% if ((source == 'main') && (index < (toc.main.length - 1))) { %>
                <a class="sdt-toclink" href="<%= toc.main[index + 1].file %>.html"><%- toc.main[index + 1].name %> &gt;</a>
              <% } %>
            </div>
          </footer>
        </main>

      </div>
    </div>
    <!-- Can't be a module for IE11 to work -->
    <!-- <script type="module" src="<%= script %>.js"></script> -->
    <script src="<%= script %>.js"></script>
  </body>
</html>
