---
toc:
  - section: introduction
    nav: true
    pages:
      - {file: index, name: 'Home'}
      - {file: introduction, name: 'Introduction'}
  - section: behavior
    nav: true
    name: 'Behavior'
    pages:
      - {file: signal, name: 'Signal &amp; Noise'}
      - {file: task, name: 'Responses'}
      - {file: outcomes, name: 'Outcomes'}
      - {file: rates, name: 'Tables &amp; Rates'}
      - {file: roc, name: 'ROC Space'}
  - section: theory
    nav: true
    name: 'Theory'
    pages:
      - {file: measurement, name: 'Measurement &amp; Sensitivity'}
      - {file: threshold, name: 'Threshold &amp; Bias'}
      - {file: sdt, name: 'SDT'}
      - {file: sensitivity, name: 'Iso-Sensitivity Curves'}
      - {file: bias, name: 'Iso-Bias Curves'}
  - section: model
    nav: true
    name: 'Model'
    pages:
      - {file: exploration, name: 'Model Exploration'}
      - {file: fitting, name: 'Model Fitting'}
      - {file: prediction, name: 'Model Predictions'}
  - section: advanced
    nav: true
    name: 'Advanced'
    pages:
      - {file: marginals, name: 'Marginals'}
      - {file: difficulty, name: 'Sensitivity &amp; Difficulty'}
      - {file: incentive, name: 'Bias &amp; Incentive'}
      - {file: zroc, name: '<span class="math-var">z</span>ROC Space'}
      - {file: unequal, name: 'Unequal Variance'}
  - section: conclusion
    nav: true
    name: ' '
    pages:
      - {file: conclusion, name: 'Conclusion'}
  - section: resources
    name: 'Resources'
    pages:
      - {file: legend, name: 'Legend'}
      - {file: glossary, name: 'Glossary'}
      - {file: equations, name: 'Equations'}
      - {file: references, name: 'References'}
      - {file: about, name: 'About'}
---
<!doctype html>
<html class="det-html" lang="en">
  <head>
    <%
      let activeSection;
      let activePage;
      let windowTitle;
      for (const [sectionIndex, section] of toc.entries()) {
        for (const [pageIndex, page] of section.pages.entries()) {
          if (page.file === file) {
            activeSection = sectionIndex;
            activePage = pageIndex;
            windowTitle = page.name.replace(/<[^>]+>/g, '');
          }
        }
      }
    %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="detectable: <%= title.replace(/<[^>]+>/g, '') %>">
    <meta name="author" content="Dr. Adam Krawitz">

    <link rel="icon" href="favicon.ico" sizes="any">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="manifest" href="manifest.webmanifest">

    <title>d′etectable<%- (file !== 'index') ? `: ${windowTitle}` : '' %></title>

    <link href="page.css" rel="stylesheet">
  </head>
  <body class="det-body">
    <div class="det-page">
      <div class="det-layout">

        <div class="det-sidebar">
          <div class="det-nav-group">
            <div class="det-nav-top">
              <button class="det-nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#det-nav" aria-controls="det-nav" aria-expanded="false" aria-label="Toggle table of contents">
                <%- include(resolvePkg('bootstrap-icons/icons/list.svg')) %>
              </button>
              <a class="det-nav-brand" href="index.html"><span class="detectable"><span class="math-var d">d′</span>ete<span class="math-var c">c</span>table</span></a>
            </div>
            <nav class="det-nav-collapse collapse" id="det-nav">
              <ol class="det-toc">
                <% for (const [sectionIndex, section] of toc.entries()){ %>
                  <li class="det-toc-list">
                    <% if (section.name) { %>
                    <div class="det-toc-section-name"><%- section.name %></div>
                    <% } %>
                    <ol class="det-toc-section det-toc-section-<%- section.section %>">
                      <% for (const [pageIndex, page] of section.pages.entries()) { %>
                        <% if ((activeSection === sectionIndex) && (activePage === pageIndex)) { %>
                          <li class="det-toc-item det-toc-item-active">
                        <% } else { %>
                          <li class="det-toc-item">
                        <% } %>
                            <a class="det-toc-link" href="<%= page.file %>.html">
                              <%- page.name %>
                            </a>
                          </li>
                      <% } %>
                    </ol>
                  </li>
                <% } %>
                <li class="det-toc-list">
                  <div class="det-toc-section-name"></div>
                  <ol class="det-toc-section det-toc-section-external">
                    <li class="det-toc-item">
                      <span class="det-toc-text">v<%- utilities.getPackageVersion() %></span>
                    </li>
                    <li class="det-toc-item">
                      <a class="det-toc-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC-BY-SA-4.0</a>
                    </li>
                    <li class="det-toc-item">
                      <a class="det-toc-link" href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener">GPL-3.0-or-later</a>
                    </li>
                    <li class="det-toc-item">
                      <a class="det-toc-link" href="https://github.com/decidables/decidables/tree/main/sites/detectable" target="_blank" rel="noopener">
                        <%- include(resolvePkg('bootstrap-icons/icons/github.svg')) %>
                      </a>
                    </li>
                  </ol>
                </li>
              </ol>
            </nav>
          </div>
          <div class="det-nav-bottom">
            <a class="det-nav-decidables" href="../"><span class="decidables">decidables</span></a>
          </div>
        </div>

        <main class="det-main">
          <% if (file !== 'index') { %>
            <header class="det-header">
              <h1 class="det-title"><%- title %></h1>
            </header>
          <% } %>
          <section class="det-content">
            <%- contents %>
          </section>

          <footer class="det-footer">
            <div class="det-footer-item det-footer-item-left">
              <% if (toc[activeSection].nav && ((activePage > 0) || (activeSection > 0))) { %>
                <% const previousPage = (activePage > 0)
                    ? toc[activeSection].pages[activePage - 1]
                    : toc[activeSection - 1].pages[toc[activeSection - 1].pages.length - 1]; %>
                <a class="det-toc-link" href="<%= previousPage.file %>.html">
                  <%- include(resolvePkg('bootstrap-icons/icons/arrow-left-short.svg')) %>
                  <%- previousPage.name %>
                </a>
              <% } %>
            </div>
            <div class="det-footer-item det-footer-item-right">
              <% if (toc[activeSection].nav && ((activePage < (toc[activeSection].pages.length - 1)) || ((activeSection < (toc.length - 1)) && toc[activeSection + 1].nav))) { %>
                <% const nextPage = (activePage < (toc[activeSection].pages.length - 1))
                    ? toc[activeSection].pages[activePage + 1]
                    : toc[activeSection + 1].pages[0]; %>
                <a class="det-toc-link" href="<%= nextPage.file %>.html">
                  <%- nextPage.name %>
                  <%- include(resolvePkg('bootstrap-icons/icons/arrow-right-short.svg')) %>
                </a>
              <% } %>
            </div>
          </footer>
        </main>

      </div>
    </div>
    <script type="module" src="<%= script %>.js"></script>
  </body>
</html>
