---
toc:
  main:
    - {file: index, name: 'Introduction'}
    - {file: signal, name: 'Signal &amp; Noise'}
    - {file: task, name: 'Task'}
    - {file: outcomes, name: 'Outcomes'}
    - {file: rates, name: 'Tables &amp; Rates'}
    - {file: roc, name: 'ROC Space'}
    - {file: measurement, name: 'Measurement &amp; Sensitivity'}
    - {file: threshold, name: 'Threshold &amp; Bias'}
    - {file: sdt, name: 'SDT'}
    - {file: sensitivity, name: 'Iso-Sensitivity Curves'}
    - {file: bias, name: 'Iso-Bias Curves'}
    - {file: exploration, name: 'Model Exploration'}
    - {file: fitting, name: 'Model Fitting'}
    - {file: prediction, name: 'Model Predictions'}
    - {file: difficulty, name: 'Sensitivity &amp; Difficulty'}
    - {file: incentive, name: 'Bias &amp; Incentive'}
    - {file: zroc, name: '<span class="math-var">z</span>ROC Space'}
    - {file: unequal, name: 'Unequal Variance'}
    - {file: conclusion, name: 'Conclusions'}
  extra:
    - {file: legend, name: 'Legend'}
    - {file: glossary, name: 'Glossary'}
    - {file: equations, name: 'Equations'}
    - {file: references, name: 'References'}
    - {file: about, name: 'About'}
---
<!doctype html>
<html class="det-html" lang="en">
  <head>
    <% for (var i=0; i < toc.main.length; i++) {
        if (toc.main[i].file == file) {
          var source = 'main';
          var index = i;
        }
      }
      for (var i=0; i < toc.extra.length; i++) {
        if (toc.extra[i].file == file) {
          var source = 'extra';
          var index = i;
        }
      }
      var windowTitle = toc[source][index].name.replace(/<[^>]+>/g, ''); %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="detectable: <%= title %>">
    <meta name="author" content="Dr. Adam Krawitz">

    <title>d′etectable: <%- windowTitle %></title>

    <link href="page.css" rel="stylesheet">
  </head>
  <body class="det-body">
    <div class="det-page">
      <div class="det-layout">

        <div class="det-sidebar">
          <div class="det-nav-group">
            <div class="det-nav-top">
              <button class="det-nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#det-nav" aria-controls="det-nav" aria-expanded="false" aria-label="Toggle table of contents">
                <%- include(resolvePkg('bootstrap-icons/icons/list.svg')) %>
              </button>
              <a class="det-nav-brand" href="index.html"><span class="detectable"><span class="math-var d">d′</span>ete<span class="math-var c">c</span>table</span></a>
            </div>
            <nav class="det-nav-collapse collapse" id="det-nav">
              <ul class="det-toc det-toc-main">
                <% for (var i=0; i < toc.main.length; i++) { %>
                  <% if ((source == 'main') && (index == i)) { %>
                    <li class="det-toc-item det-toc-item-active">
                  <% } else { %>
                    <li class="det-toc-item">
                  <% } %>
                      <a class="det-toc-link" href="<%= toc.main[i].file %>.html">
                        <%- toc.main[i].name %>
                      </a>
                    </li>
                <% } %>
              </ul>
              <ul class="det-toc det-toc-extra">
                <% for (var i=0; i < toc.extra.length; i++) { %>
                  <% if ((source == 'extra') && (index == i)) { %>
                    <li class="det-toc-item det-toc-item-active">
                  <% } else { %>
                    <li class="det-toc-item">
                  <% } %>
                      <a class="det-toc-link" href="<%= toc.extra[i].file %>.html">
                        <%- toc.extra[i].name %>
                      </a>
                    </li>
                <% } %>
              </ul>
              <ul class="det-toc det-toc-external">
                <li class="det-toc-item">
                  <span class="det-toc-text">v<%- utilities.getPackageVersion() %></span>
                </li>
                <li class="det-toc-item">
                  <a class="det-toc-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC-BY-SA-4.0</a>
                </li>
                <li class="det-toc-item">
                  <a class="det-toc-link" href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener">GPL-3.0-or-later</a>
                </li>
                <li class="det-toc-item">
                  <a class="det-toc-link" href="https://github.com/decidables/decidables/tree/main/sites/detectable" target="_blank" rel="noopener">
                    <%- include(resolvePkg('bootstrap-icons/icons/github.svg')) %>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="det-nav-bottom">
            <a class="det-nav-decidables" href="../"><span class="decidables">decidables</span></a>
          </div>
        </div>

        <main class="det-main">
          <header>
            <h1><%- title %></h1>
          </header>
          <section class="det-content">
            <%- contents %>
          </section>

          <footer class="det-footer">
            <div class="det-footer-item det-footer-item-left">
              <% if ((source == 'main') && (index > 0)) { %>
                <a class="det-toc-link" href="<%= toc.main[index - 1].file %>.html">&lt; <%- toc.main[index - 1].name %></a>
              <% } %>
            </div>
            <div class="det-footer-item det-footer-item-right">
              <% if ((source == 'main') && (index < (toc.main.length - 1))) { %>
                <a class="det-toc-link" href="<%= toc.main[index + 1].file %>.html"><%- toc.main[index + 1].name %> &gt;</a>
              <% } %>
            </div>
          </footer>
        </main>

      </div>
    </div>
    <script type="module" src="<%= script %>.js"></script>
  </body>
</html>
