---
toc:
  top:
    - {file: index, name: 'Home'}
    - {file: what, name: 'What'}
    - {file: why, name: 'Why'}
    - {file: how, name: 'How'}
  bottom:
    - {file: references, name: 'References'}
    - {file: credits, name: 'Credits'}
---
<!doctype html>
<html class="dec-html" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="decidables<%- (file !== 'index') ? `: ${title.replace(/<[^>]+>/g, '')}` : '' %>">
    <meta name="author" content="Dr. Adam Krawitz">

    <title>decidables<%- (file !== 'index') ? `: ${[...toc.top, ...toc.bottom].find((page) => { return (page.file === file); }).name}` : '' %></title>

    <link href="index.css" rel="stylesheet">
  </head>
  <body class="dec-body <%- (file !== 'index') ? 'dec-page' : '' %>">
    <header class="dec-header">
      <nav class="dec-nav">
        <a class="dec-nav-brand" href="./">decidables</a>
        <button class="dec-nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dec-navbar" aria-controls="dec-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <%- include(resolvePkg('bootstrap-icons/icons/list.svg')) %>
        </button>
        <div class="dec-nav-collapse collapse" id="dec-navbar">
          <ul class="dec-nav-list">
            <% for (const page of toc.top) { %>
              <li class="dec-nav-item">
                <a class="dec-nav-link <%- (page.file === file) ? 'active' : '' %>" href="<%= (page.file !== 'index') ? `${page.file}.html` : './' %>">
                    <%- page.name %>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </header>

    <main class="dec-main">
      <% if (file !== 'index') { %>
        <header class="dec-page-header">
          <h1 class="dec-page-title"><%- title %></h1>
        </header>
      <% } %>
      <%- contents %>
    </main>

    <footer class="dec-footer">
      <nav class="dec-nav">
        <ul class="dec-nav-brand-list">
          <li class="dec-nav-item">
            <a class="dec-nav-brand" href="./">decidables</a>
          </li>
          <li class="dec-nav-item">
            <span class="dec-nav-text">v<%- utilities.getPackageVersion() %></span>
          </li>
          <li class="dec-nav-item">
            <span class="dec-nav-text">(<%- utilities.getCurrentDate() %>)</span>
          </li>
        </ul>
        <ul class="dec-nav-list">
          <% for (const page of toc.bottom) { %>
            <li class="dec-nav-item">
              <a class="dec-nav-link <%- (page.file === file) ? 'active' : '' %>" href="<%= (page.file !== 'index') ? `${page.file}.html` : './' %>">
                  <%- page.name %>
              </a>
            </li>
          <% } %>
          <li class="dec-nav-item">
            <a class="dec-nav-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA 4.0</a>
          </li>
          <li class="dec-nav-item">
            <a class="dec-nav-link" href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener">GPL-3.0</a>
          </li>
          <li class="dec-nav-item">
            <a class="dec-nav-link" href="https://github.com/decidables/decidables/" target="_blank" rel="noopener">
              <%- include(resolvePkg('bootstrap-icons/icons/github.svg')) %>
            </a>
          </li>
        </ul>
      </nav>
    </footer>

    <!-- Can't be a module for IE11 to work -->
    <!-- <script type="module" src="<%= script %>.js"></script> -->
    <script src="<%= script %>.js"></script>
  </body>
</html>
